<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li>
                <a href="{{ url('dashboard') }}">
                    <i class="icon-bar-chart"></i>
                    <span class="hidden-tablet"> Dashboard</span>
                </a>
            </li>
            <li>
                <a class="dropmenu" href="#">
                    <i class="icon-folder-close-alt"></i>
                    <span class="hidden-tablet"> Schools</span>
                </a>
                <ul>
                    <li>
                        <a class="submenu" href="{{ url('app_school_index_mine') }}">
                            <i class="icon-book"></i>
                            <span class="hidden-tablet"> My Schools</span>
                        </a>
                    </li>
                    <li>
                        <a class="submenu" href="{{ url('app_school_index') }}">
                            <i class="icon-book"></i>
                            <span class="hidden-tablet"> All Schools</span>
                        </a>
                    </li>
                </ul>	
            </li>
            {#<li>
                <a href="{{ url('app_course_index') }}">
                    <i class="halflings-icon book white small-3"></i>
                    <span class="hidden-tablet">My Courses</span>
                </a>
            </li>#}
        </ul>
    </div>
</div>
